/*------------------------------------
* sext
*
* @author linghua.zhang@me.com
* @link http://lhzhang.com/
* @update 2011-11-17
* 
* |/ | (~ (~
* |\.|._)._)
* --------------------------------- */

body{font-size:14px;font-family:"Lucida Grande","DejaVu Sans Mono",monospace,"Hiragino Sans GB";background-color:#fdfdf8;color:#707070;}
*{padding:0;margin: 0;border:none;outline:none;}
a{text-decoration:none;color:#dd0000;}
a:hover{text-decoration:underline;}
hr{margin:.7em 0;border-top:1px dashed #d0d0d0;border-bottom:1px dashed #f9f9f9;}
p,li{padding:.7em 0;}
ol,ul{list-style-position:inside;padding-left:2em;}
.listing{padding:0;margin:0;}
.listing li{list-style-type:none;padding:.5em 0;font-size:14px;}
.icon img{width:256px;border-radius:7px;margin: 0 auto;}
.icon, .title, .description, .link {display: block; text-align:center; margin: 1em 0;}
header{padding:1em 0;border-bottom: 1px solid #cccccc;}
h1{font-size:24px;color:#000;}
h2{font-size:20px;color:#111;}
h3{font-size:18px;color:#222;}
h4{font-size:16px;color:#333;}
#container{width:600px;margin:0 auto;display:block;margin-bottom: 1em;}
#container:after{display:inline-block;content:"Stay foolish, Stay hungry";position:fixed;bottom:1em;left:0;right:0;text-align:center;color:#eeeeee;}
