@import url(http://fonts.googleapis.com/css?family=Overlock);
@import url(http://fonts.googleapis.com/css?family=Coda);
/*------------------------------------
* sext-iv
*
* @author linghua.zhang@me.com
* @link http://lhzhang.com/
* @update 2012-09-24
* 
* |/ | (~ (~
* |\.|._)._)
* --------------------------------- */
a {
  color: #3399cc; }
  a:hover {
    color: #55bbee; }

* {
  margin: 0;
  padding: 0; }

body {
  font-size: 14px;
  font-family: "Overlock","Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  color: #555555;
  background-image: url("/media/css/bg.png"); }

a {
  text-decoration: none; }
  a:hover {
    -webkit-transition: color .2s linear;
    -moz-transition: color .2s linear; }

li {
  padding: .2em 0; }

ol, ul {
  list-style-position: inside; }

#main {
  margin: 2em 0 1em 0; }

#header {
  width: 680px;
  margin: 0 auto; }
  #header a {
    color: #999999;
    text-shadow: #e9e9e9 2px 2px 2px; }
    #header a:hover {
      color: #333333; }
  #header h1 {
    display: inline-block;
    margin-right: 1em;
    font-family: "Coda","Hiragino Sans GB", "Microsoft YaHei", sans-serif; }
  #header nav {
    display: inline-block; }
    #header nav a {
      margin: 0 .5em;
      display: inline-block;
      font-family: "Coda","Hiragino Sans GB", "Microsoft YaHei", sans-serif;
      text-transform: uppercase; }

#content {
  width: 680px;
  margin: 0 auto;
  font-size: 1.1em;
  line-height: 1.7em; }
  #content article {
    padding: 1.25em 24px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    margin: 2em 0; }
  #content a {
    color: #3399cc; }
    #content a:hover {
      color: #55bbee; }
  #content .post img {
    max-width: 686px;
    display: block;
    box-shadow: #999999 0px 8px 4px -4px;
    margin: .5em auto; }
  #content .post .image-700 {
    margin-left: -28px;
    margin-right: -28px;
    display: block; }
  #content .post .image-800 {
    margin-left: -28px;
    margin-right: -28px;
    display: block; }
  #content .post .image-900 {
    margin-left: -28px;
    margin-right: -28px;
    display: block; }
  #content .post .image-1000 {
    margin-left: -28px;
    margin-right: -28px;
    display: block; }
  #content .post .image-1100 {
    margin-left: -28px;
    margin-right: -28px;
    display: block; }
  #content .post .image-1200 {
    margin-left: -28px;
    margin-right: -28px;
    display: block; }
  #content .post .image-1300 {
    margin-left: -28px;
    margin-right: -28px;
    display: block; }
  #content .post .image-1400 {
    margin-left: -28px;
    margin-right: -28px;
    display: block; }
  #content p {
    padding: .7em 0; }
  #content pre code {
    margin: 1em -25px 1em -25px;
    padding-left: 25px;
    padding-right: 25px;
    border-color: #e0e0e0 !important;
    font-size: 13px;
    font-family: Menlo, monospace;
    line-height: 1.6;
    display: block;
    overflow: auto; }
  #content blockquote {
    display: block;
    text-align: justify;
    border-left: 4px solid #eeeeee;
    margin: 1em 0em;
    padding-left: 1.5em; }
    #content blockquote p {
      margin: 0;
      padding: 0; }
  #content li.listing-item, #content li.listing-seperator {
    list-style-type: none;
    padding: 0; }
    #content li.listing-item a, #content li.listing-seperator a {
      padding: .2em 1em; }
    #content li.listing-item time, #content li.listing-seperator time {
      color: #999999; }
  #content li.listing-seperator {
    font-weight: bold; }
  #content .meta {
    color: #c0c0c0;
    margin: .25em 0 1em; }
    #content .meta .tags a {
      color: #c0c0c0;
      padding: .25em; }
      #content .meta .tags a:hover {
        color: #999999; }

.comment {
  margin-top: 2em; }

.circle-wrapper {
  margin: 2em 0;
  display: block; }
  .circle-wrapper:hover .circle {
    background-color: #333333;
    -webkit-transition: background-color .2s linear;
    -moz-transition: background-color .2s linear; }

.circle {
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  line-height: 1;
  background-color: #cccccc;
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em; }

.center {
  text-align: center; }

hr {
  margin: .7em 0;
  border-top: 1px dashed #d0d0d0;
  border-bottom: 1px dashed #f9f9f9; }

footer {
  width: 680px;
  margin: 0 auto;
  display: block;
  font-family: "Balthazar";
  font-size: .9em;
  text-align: center;
  color: #909090; }
  footer a {
    color: #cccccc; }
    footer a:hover {
      color: #999999; }

#tag_cloud {
  margin-bottom: 1em; }
  #tag_cloud a:hover {
    color: #ff0000 !important;
    text-decoration: none; }

li[id*='dsq-like-'] {
  display: none; }

#dsq-global-toolbar, #dsq-like-tooltip, #dsq-sort-by, .dsq-comment-moderate {
  display: none; }

.dsq-comment-header {
  border: none !important;
  background: none !important; }

#disqus_thread h3 {
  font-size: 1em !important;
  font-weight: normal !important;
  margin: 0 !important; }

#dsq-footer {
  display: none; }

.gist {
  font-size: 13px;
  line-height: 1.6; }
