@charset "UTF-8";
/*------------------------------------
 * sext-vi
 *
 * @author linghua.zhang@me.com
 * @link http://lhzhang.com/
 * @update 2014-03-17
 *
 * |/ | (~ (~
 * |\.|._)._)
 * --------------------------------- */
@import url(/media/fonts/telex-regular.css);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300);
* {
  margin: 0;
  padding: 0; }

body {
  font-size: 14px;
  font-family: "telexregular", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  color: #555;
  background-color: #f9f9f9; }

ol, ul {
  list-style-position: inside; }

li {
  padding: .2em 0; }

hr {
  width: 4em;
  border: none;
  border-top: 1px dashed #d0d0d0;
  border-bottom: 1px dashed #f9f9f9; }

.center {
  text-align: center; }

::selection {
  color: #fff;
  background-color: #333; }

a, header #header h1 a, article .title a, article .meta .tags a, article .divider a {
  text-decoration: none;
  color: #bb2222; }
  a:hover, header #header h1 a:hover, article .title a:hover, article .meta .tags a:hover, article .divider a:hover {
    color: #dd1144; }

blockquote, pre code {
  background-color: #f8f8f8;
  padding: 0 1em;
  border: 1px dashed #eee !important;
  border-color: #e0e0e0 !important;
  font-size: 13px;
  line-height: 1.6;
  display: block;
  overflow: auto; }

code {
  background-color: #f8f8f8;
  padding: 2px 5px;
  border: 1px dashed #e0e0e0;
  font-family: "Ubuntu", monospace; }

h1, h2 {
  font-size: 1.4em; }

time {
  font-family: "Ubuntu", monospace; }

header {
  width: 800px;
  margin: 0 auto;
  text-align: justify;
  margin: 3em auto; }
  header:after {
    content: '';
    width: 100%;
    display: inline-block; }
  header #header {
    display: inline-block;
    position: relative;
    top: 1em; }
    header #header h1 {
      font-family: "telexregular", "Hiragino Sans GB", "Microsoft YaHei", sans-serif; }
      header #header h1 a {
        color: #a9a9a9;
        display: block; }
  header nav {
    display: inline-block;
    position: relative;
    top: 1em; }
    header nav span {
      margin: .5em; }
    header nav a, header nav #header h1 a, header #header h1 nav a, header nav article .title a, article .title header nav a, header nav article .meta .tags a, article .meta .tags header nav a, header nav article .divider a, article .divider header nav a {
      font-family: "telexregular", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
      color: #ccc; }

#content {
  width: 800px;
  margin: 0 auto;
  line-height: 2em; }
  #content .main-listing {
    margin-bottom: 2em; }

ul.listing {
  margin-top: 1em; }
  ul.listing li {
    list-style-type: none;
    padding: 0; }
    ul.listing li.listing-item a, ul.listing li.listing-item header #header h1 a, header #header h1 ul.listing li.listing-item a {
      padding: .2em 0 .2em 2em; }
    ul.listing li.listing-item time {
      color: #999; }
    ul.listing li.listing-item:hover {
      background-color: #f9f9f9; }
    ul.listing li.listing-seperator {
      font-family: "telexregular", "Hiragino Sans GB", "Microsoft YaHei", sans-serif; }
      ul.listing li.listing-seperator:before {
        content: "тна ";
        color: #ccc; }

article {
  margin: 2em 0; }
  article p {
    padding: .7em 0; }
  article .title {
    font-family: "telexregular", "Hiragino Sans GB", "Microsoft YaHei", sans-serif; }
    article .title header #header h1 a, header #header h1 article .title a, article .title a, article .title .meta .tags a, article .meta .tags .title a {
      color: #777; }
  article .meta {
    display: block;
    overflow: auto;
    margin-top: -.5em;
    font-size: .9em; }
    article .meta .tags header #header h1 a, header #header h1 article .meta .tags a, article .meta .tags a {
      color: #999999;
      padding: .25em; }
  article .post img {
    max-width: 800px;
    display: block;
    margin: .5em auto; }
  article .comment {
    margin: 3em 0; }
  article .divider {
    margin: 2em 0; }
    article .divider i {
      margin: 0 2em;
      color: #e9e9e9; }
    article .divider header #header h1 a, header #header h1 article .divider a, article .divider .meta .tags a, article .meta .tags .divider a, article .divider a {
      font-family: "telexregular", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
      margin: 0 2em; }
      article .divider header #header h1 a i, header #header h1 article .divider a i, article .divider .meta .tags a i, article .meta .tags .divider a i, article .divider a i {
        color: #999999;
        margin: 0; }
        article .divider header #header h1 a i:hover, header #header h1 article .divider a i:hover, article .divider a i:hover {
          color: #bb2222 !important; }
  article .divider {
    position: relative;
    font-size: 1em;
    z-index: 1;
    overflow: hidden;
    text-align: center; }
  article .divider:before, article .divider:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 49%;
    height: 2px;
    content: '\a0';
    background-color: #f0f0f0; }
  article .divider:before {
    margin-left: -50%;
    text-align: right; }
  article .divider:after {
    margin-left: 1%; }

footer {
  width: 800px;
  margin: 0 auto;
  display: block;
  color: #909090;
  font-family: "telexregular", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  font-size: .9em;
  text-align: center;
  margin: 1em auto; }
  footer a, footer header #header h1 a, header #header h1 footer a, footer article .title a, article .title footer a, footer article .meta .tags a, article .meta .tags footer a, footer article .divider a, article .divider footer a {
    color: #cccccc; }
    footer a:hover, footer header #header h1 a:hover, header #header h1 footer a:hover, footer article .meta .tags a:hover, article .meta .tags footer a:hover {
      color: #999999; }

#tag_cloud {
  margin-bottom: 1em; }

.gist {
  font-size: 13px;
  line-height: 1.6; }

.like-wrapper {
  color: #999; }
  .like-wrapper .like-button, .like-wrapper .unlike-button {
    font-family: "FontAwesome";
    padding-right: 5px; }
  .like-wrapper .like-button:hover {
    color: #dd1144; }
  .like-wrapper .like-button.liked:hover {
    color: #999; }
