---
layout: default
---

<article>
  <section class="title">
    <h2>{{ page.title }} </h2>
  </section>
  <section class="meta">
  <span class="time">
    <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time>
  </span>
  {% if page.tags %}
  <span class="tags">
    {% for tag in page.tags %}
    <a href="/tags.html#{{ tag }}" title="{{ tag }}">#{{ tag }}</a>
    {% endfor %}
  </span>
  {% endif %}
  </section>
  <section class="post">
  {{ content }}
  </section>
  {% if page.guid %}
  <div class="divider">
    <span>
    {% if page.previous %}
    <a href="{{ page.previous.url }}"><i class="fa fa-chevron-left"></i></a>
    {% else %}
    <i class="fa fa-circle"></i>
    {% endif %}
    </span>
    <!-- BEGIN comment icon
    <span><a href="javascript:leave_comment();" id="leave_comment_link"><i class="fa fa-comment-o"></i></a></span>
    <span><a href="javascript:collapse_comment();" id="collapse_comment_link" style="display:none;"><i class="fa fa-chevron-up"></i></a></span>
      END comment icon -->

    <span>
    {% if page.next %}
    <a href="{{ page.next.url }}"><i class="fa fa-chevron-right"></i></a>
    {% else %}
    <i class="fa fa-circle"></i>
    {% endif %}
    </span>
  </div>

  <!-- BEGIN comment
  <section class="comment">
  <div id="disqus_thread"></div>
  <script type="text/javascript">
      var disqus_shortname = '{{ site.disqus }}';
      var disqus_identifier = '{{ page.guid }}';

      function leave_comment() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          $("#leave_comment_link").css("display", "none");
          $("#collapse_comment_link").css("display", "");
      };
      function collapse_comment() {
          // document.getElementById("disqus_thread").innerHTML = '';
          $("#disqus_thread").slideUp(400, function() {
              $("#disqus_thread").empty();
              $("#leave_comment_link").css("display", "");
              $("#collapse_comment_link").css("display", "none");
              $("#disqus_thread").css("display", "");
          });
      };
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </section>
  END comment -->
  {% endif %}
</article>
